# Copyright (c) 2025 Achraf BEN CHEIKH LADHARI
# Licensed under the MIT License.
# DO NOT REMOVE THIS LICENSE HEADER.

---
- import_playbook: ./pre-task/validate-header.yml
- import_playbook: ./all-hosts-playbook.yml
- name: Initialize Kubernetes Control Plane
  hosts: nodes
  become: yes
  tasks:
    - name: Read control-plane join command from master
      slurp:
        src: /tmp/kubeadm_join_control_plane.sh
      delegate_to: master-primary
      run_once: true
      register: join_cp_command_file

    - name: Decode join command
      set_fact:
        kubeadm_join_control_plane: "{{ join_cp_command_file.content | b64decode }}"

    - name: Join node to cluster as control-plane
      command: "{{ kubeadm_join_control_plane }}"
