# Copyright (c) 2025 Achraf BEN CHEIKH LADHARI
# Licensed under the MIT License.
# DO NOT REMOVE THIS LICENSE HEADER.

---
- import_playbook: ./pre-task/validate-header.yml
- name: Bootstrap Kubernetes Node (containerd + kubeadm + kubelet + kubectl)
  hosts: all
  become: yes
  vars:
    containerd_version: "2.2.0"
    runc_version: "1.3.3"
    kubernetes_major_version: "v1.34"
    kubernetes_pkg_version: "1.34.0-1.1"

  handlers:
    - name: restart containerd
      service:
        name: containerd
        state: restarted

    - name: reload sysctl
      command: sysctl --system

  tasks:

    ###########################################################
    # Kernel modules
    ###########################################################
    # - name: Ensure kernel modules config exists
    - name: Load overlay and br_netfilter modules config
      copy:
        dest: /etc/modules-load.d/k8s.conf
        content: |
          overlay
          br_netfilter
      notify: reload sysctl

    - name: Load kernel modules now
      modprobe:
        name: "{{ item }}"
        state: present
      loop:
        - overlay
        - br_netfilter

    ###########################################################
    # sysctl
    ###########################################################
    - name: Configure sysctl for Kubernetes
      copy:
        dest: /etc/sysctl.d/k8s.conf
        content: |
          net.bridge.bridge-nf-call-iptables = 1
          net.bridge.bridge-nf-call-ip6tables = 1
          net.ipv4.ip_forward = 1
      notify: reload sysctl

    ###########################################################
    # Disable swap
    ###########################################################
    - name: Disable swap runtime
      command: swapoff -a
      when: ansible_facts["swaptotal_mb"] > 0

    - name: Ensure swap is disabled on reboot
      cron:
        name: disable swap
        special_time: reboot
        job: /sbin/swapoff -a

    ###########################################################
    # Install dependencies
    ###########################################################
    - name: Install common packages
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gpg
          - software-properties-common
          - jq
        state: present
        update_cache: yes

    ###########################################################
    # Install containerd
    ###########################################################
    - name: Download containerd archive
      get_url:
        url: "https://github.com/containerd/containerd/releases/download/v{{ containerd_version }}/containerd-{{ containerd_version }}-linux-amd64.tar.gz"
        dest: "/tmp/containerd.tar.gz"
        mode: "0644"

    - name: Install containerd
      unarchive:
        src: "/tmp/containerd.tar.gz"
        dest: "/usr/local"
        remote_src: yes
        creates: "/usr/local/bin/containerd"

    ###########################################################
    # Install runc
    ###########################################################
    - name: Download runc
      get_url:
        url: "https://github.com/opencontainers/runc/releases/download/v{{ runc_version }}/runc.amd64"
        dest: "/tmp/runc"
        mode: "0755"

    - name: Install runc
      copy:
        src: "/tmp/runc"
        dest: "/usr/local/sbin/runc"
        remote_src: yes
        mode: "0755"
    ###########################################################
    # Configure containerd
    ###########################################################
    - name: Create containerd config directory
      file:
        path: /etc/containerd
        state: directory

    - name: Generate containerd default config
      command: containerd config default
      register: containerd_config
      changed_when: false

    - name: Write containerd config file
      copy:
        dest: /etc/containerd/config.toml
        content: "{{ containerd_config.stdout }}"
      notify: restart containerd

    - name: Enable SystemdCgroup in containerd config
      replace:
        path: /etc/containerd/config.toml
        regexp: 'SystemdCgroup = false'
        replace: 'SystemdCgroup = true'
      notify: restart containerd

    - name: Create systemd unit for containerd
      copy:
        dest: /etc/systemd/system/containerd.service
        mode: '0644'
        content: |
          [Unit]
          Description=containerd container runtime
          Documentation=https://containerd.io
          After=network.target local-fs.target

          [Service]
          ExecStartPre=-/sbin/modprobe overlay
          ExecStart=/usr/local/bin/containerd
          Type=notify
          Delegate=yes
          KillMode=process
          Restart=always
          RestartSec=5
          LimitNPROC=infinity
          LimitCORE=infinity
          LimitNOFILE=infinity
          TasksMax=infinity
          OOMScoreAdjust=-999

          [Install]
          WantedBy=multi-user.target
      notify: restart containerd

    - name: Enable & start containerd
      systemd:
        name: containerd
        enabled: yes
        state: started

    ###########################################################
    # Install cri-tools (crictl)
    ###########################################################
    - name: Download crictl
      get_url:
        url: "https://github.com/kubernetes-sigs/cri-tools/releases/download/v1.34.0/crictl-v1.34.0-linux-amd64.tar.gz"
        dest: "/tmp/crictl.tar.gz"

    - name: Install crictl
      unarchive:
        src: "/tmp/crictl.tar.gz"
        dest: /usr/local/bin
        remote_src: yes
        creates: /usr/local/bin/crictl

    - name: Configure crictl
      copy:
        dest: /etc/crictl.yaml
        mode: "0644"
        content: |
          runtime-endpoint: unix:///run/containerd/containerd.sock
          image-endpoint: unix:///run/containerd/containerd.sock
          timeout: 10
          debug: false

    ###########################################################
    # Install Kubernetes packages
    ###########################################################
    # - name: Add Kubernetes APT key
    #   get_url:
    #     url: "https://pkgs.k8s.io/core:/stable:/{{ kubernetes_major_version }}/deb/Release.key"
    #     dest: /etc/apt/keyrings/kubernetes-apt-keyring.gpg
    - name: Add Kubernetes GPG key
      ansible.builtin.apt_key:
        url: https://pkgs.k8s.io/core:/stable:/{{ kubernetes_major_version }}/deb/Release.key
        keyring: /etc/apt/keyrings/kubernetes-apt-keyring.gpg
        state: present

    # - name: Add Kubernetes repo
    #   copy:
    #     dest: /etc/apt/sources.list.d/kubernetes.list
    #     content: |
    #       deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/{{ kubernetes_major_version }}/deb/ /
    - name: Add Kubernetes APT repository
      ansible.builtin.apt_repository:
        repo: "deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/{{ kubernetes_major_version }}/deb/ /"
        state: present
    
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install kubelet, kubeadm, kubectl
      apt:
        name:
          - kubelet={{ kubernetes_pkg_version }}
          - kubeadm={{ kubernetes_pkg_version }}
          - kubectl={{ kubernetes_pkg_version }}
        state: present
        update_cache: yes

    - name: Hold kubelet package
      become: yes
      ansible.builtin.dpkg_selections:
        name: kubelet
        selection: hold
    - name: Hold kubeadm package
      become: yes
      ansible.builtin.dpkg_selections:
        name: kubeadm
        selection: hold
    - name: Hold kubectl package
      become: yes
      ansible.builtin.dpkg_selections:
        name: kubectl
        selection: hold

    ###########################################################
    # Configure kubelet node-ip
    ###########################################################
    - name: Get node primary IP
      set_fact:
        node_ip: ansible_facts["default_ipv4.address"]

    - name: Set kubelet extra args
      copy:
        dest: /etc/default/kubelet
        content: "KUBELET_EXTRA_ARGS=--node-ip={{ node_ip }}"
      notify: restart containerd

    - name: Enable IPv4 forwarding (runtime + persistent)
      become: yes
      ansible.posix.sysctl:
        name: net.ipv4.ip_forward
        value: "1"
        state: present
        reload: yes
